@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply border-none outline-none;
}

.loader {
    border: 4px solid #e5e7eb;
    border-radius: 50%;
    border-top: 4px solid #3b82f6;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@layer components {
    .log-in-btn {
        border: 1px solid #e5e7eb;
        @apply flex justify-center items-center space-x-2 font-emphasis w-full rounded-full p-4 md:whitespace-nowrap md:w-min md:px-24;
    }

    .log-in-btn-icon {
        @apply h-6;
    }

    .user-img {
        @apply rounded-full;
    }

    .btn {
        @apply p-1 rounded-full transition-colors text-blue-500 hover:bg-blue-100;
    }

    .btn-icon {
        @apply h-5 text-current;
    }

    .link-container {
        @apply flex items-center p-4 space-x-2 transition-colors hover:bg-blue-100 hover:text-blue-500 lg:rounded-full lg:pl-2 lg:py-3 lg:space-x-4;
    }

    .link-container.active {
        @apply font-emphasis text-blue-500;
    }

    .link-icon {
        @apply h-6 transition-colors text-current lg:h-7;
    }

    .link-text {
        @apply transition-colors text-current text-xl;
    }

    .primary-btn {
        @apply block w-full py-4 rounded-full bg-blue-500 font-emphasis text-sm text-white transition-all hover:bg-blue-400 disabled:opacity-50 disabled:cursor-not-allowed;
    }

    .tweet-options-btn {
        @apply block w-full text-left border-none outline-none py-2 px-4 transition-colors hover:bg-blue-100 hover:text-blue-500;
    }
}
