@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply border-none outline-none;
}

@layer components {
    .log-in-btn {
        border: 1px solid rgb(229, 231, 235);
        @apply flex justify-center items-center space-x-2 font-bold w-full rounded-full p-4 md:whitespace-nowrap md:w-min md:px-24;
    }

    .log-in-btn-icon {
        @apply h-6;
    }

    .user-img {
        @apply rounded-full;
    }

    .btn {
        @apply p-1 rounded-full transition-colors text-blue-500 hover:bg-blue-100;
    }

    .btn-icon {
        @apply h-5 text-current;
    }

    .link-container {
        @apply flex items-center p-4 space-x-2 transition-colors hover:bg-blue-100 hover:text-blue-500 lg:rounded-full lg:pl-2 lg:py-3 lg:space-x-4;
    }

    .link-container.active {
        @apply font-bold text-blue-500;
    }

    .link-icon {
        @apply h-6 transition-colors text-current lg:h-7;
    }

    .link-text {
        @apply transition-colors text-current text-lg;
    }

    .primary-btn {
        @apply block w-full py-4 rounded-full bg-blue-500 font-semibold text-sm text-white transition-all hover:bg-blue-400 disabled:opacity-50 disabled:cursor-not-allowed;
    }
}
